@import url("variables.css");

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: var(--spacing-l);
  padding: 0;
  background-color: var(--color-background-site);
  color: var(--color-text-primary);
  line-height: var(--line-height-heading);
}

body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-body);
  margin: auto;
  padding: 0;
  max-width: 940px;
}

textarea:focus,
input:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  line-height: var(--line-height-heading);
}

h1 {
  font-family: Manrope;
  font-weight: 300;
  font-size: var(--font-size-xl);
}

h2 {
  font-family: Manrope;
  font-weight: 400;
  font-size: var(--font-size-l);
}

h3 {
  font-family: Manrope;
  font-weight: 400;
  font-size: var(--font-size-m);
}

h4 {
  font-family: Manrope;
  font-weight: 400;
  font-size: 1var (--font-size-l);
}

p {
  font-family: Instrument Sans;
  font-weight: 400;
  font-size: var(--font-size-s);
  line-height: var(--line-height-body);
}

.lead-paragraph {
  font-size: var(--font-size-m);
  color: var(--color-text-secondary);
}

a {
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: var(--font-size-s);
  line-height: var(--line-height-label);
  color: var(--color-link);
  text-decoration: underline;
}
