:root {
  --color-background-site: #262626;
  --color-background-secondary: #2f2f2f;
  --color-text-primary: #fcfcfc;
  --color-text-secondary: #949494;
  --color-text-highlight: #4db6ac;
  --color-link: var(--color-text-highlight);
  --color-focus: var(--color-text-highlight);
  --color-border-default: #4e4e4e;

  --border-image: 1px solid var(--color-border-default);

  --radius-border-card: 8px;

  --animation-timing: cubic-bezier(0.6, 0.6, 0, 1);
}
