---
import "@styles/global.css";
---

<section class="header">
  <div class="name-and-title-wrapper">
    <h1>Roni Jaakkola</h1>
    <p class="job-title">UX Designer</p>
    <p class="job-title">Design Techologist</p>
  </div>
  <div class="description-and-cta-wrapper">
    <p class="lead-paragraph">
      A designer who can seamlessly begin the day with a visual design review,
      craft a user interface design by noon, and then dive into a meeting about
      frontend technical architecture in the afternoon.
    </p>
    <a>Go there →</a>
  </div>
</section>

<style>
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-l);
    flex-wrap: wrap;

    @media (min-width: 640px) {
      flex-wrap: nowrap;
    }
  }

  .name-and-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  .job-title {
    color: var(--color-text-secondary);
    font-size: var(--font-size-l);
  }

  .description-and-cta-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    max-width: none;

    @media (min-width: 640px) {
      max-width: 24rem;
    }
  }
</style>
