---
import "@styles/global.css";

import { Image } from "astro:assets";

import Section from "@layouts/Section.astro";
import ProjectCard from "@components/ProjectCard.astro";

import PlaceholderImg from "@assets/placeholder.webp";
import Card from "./Card.astro";
---

<Section title="Work">
  <div class="projects">
    <Card>
      <div class="project-card">
        <Image
          src={PlaceholderImg}
          alt="Alt text"
          class="project-img"
          transition:name="project-1-img"
        />
        <h3>Helsinki Design System</h3>
        <p>A design system for the largest organisation in Finland</p>
        <a href="/ronijaakkola-website/project-hds">Read case study →</a>
      </div>
    </Card>

    <Card>
      <div class="project-card">
        <Image
          src={PlaceholderImg}
          alt="Alt text"
          class="project-img"
          transition:name="project-2"
        />
        <h3>Helsinki Design System</h3>
        <p>A design system for the largest organisation in Finland</p>
        <a href="/ronijaakkola-website/project-hds">Read case study →</a>
      </div>
    </Card>

    <Card>
      <div class="project-card">
        <Image
          src={PlaceholderImg}
          alt="Alt text"
          class="project-img"
          transition:name="project-3"
        />
        <h3>Helsinki Design System</h3>
        <p>A design system for the largest organisation in Finland</p>
        <a href="/ronijaakkola-website/project-hds">Read case study →</a>
      </div>
    </Card>
  </div>
</Section>

<style>
  .projects {
    display: flex;
    gap: var(--spacing-l);
    flex-wrap: wrap;
    @media (min-width: 640px) {
      flex-wrap: nowrap;
    }
  }
  .project-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
  }

  .project-img {
    width: 100%;
    height: auto;
    border: var(--border-image);
  }
</style>
